@import "../variables.scss";

.glassmorphism {
  display: block;
  padding: $spacing;
  background-color: $glass;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(black, 0.1);
}
